* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  margin: 100px auto;
  width: 500px;
  height: 90vh;
  border-radius: 10px;
  background-color: #f1f2f6;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

.amount-container {
  display: flex;
  gap: 10px;
}

.box {
  width: 50%;
  height: 75px;
  padding: 15px;
  text-align: center;
  border: 1px solid red;
}

.transaction-container {
  width: 100%;
  margin: 10px auto;
  height: 450px;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.form-container input {
  width: 60%;
  padding: 10px;

  margin: 5px auto;
}


.form-container button {
  width: 30%;
  height: 25px;
  margin: 0 auto;
}