* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  margin: 100px auto;
  width: 500px;
  border-radius: 10px;
  background-color: #f1f2f6;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

.amount-container {
  display: flex;
  gap: 10px;
}

.box {
  width: 50%;
  height: 50%;
  padding: 15px;
  text-align: center;
  border: 1px solid #607d8b;
  border-radius: 2rem;
}

.transaction-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.form-container input {
  width: 60%;
  padding: 10px;
  margin: 5px auto;
}

.form-container button {
  width: 30%;
  height: 25px;
  margin: 10px auto;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid #2c3e50;
  border-radius: 0.5rem;
}

.transaction-amount {
  margin-left: 50%;
}
.transaction-title {
  margin-left: 2%;
}

.dlt-trn {
  margin-right: 1rem;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.dlt-trn:hover {
  cursor: pointer;
}

.dlt-trn:focus {
  outline: none;
}

.income {
  position: absolute;
  right: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #4caf50;
}

.expense {
  position: absolute;
  right: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #f44336;
}

.balance {
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-align: end;
}
.transaction-container h2 {
  padding: 0.5rem;
  text-align: left;
}
