* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  margin: 100px auto;
  width: 500px;
  border-radius: 10px;
  background: #ffffff;
  /* box-shadow: 0.2rem 1rem 1rem 0.5rem #d0d0d0; */
}

.header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.amount-container {
  display: flex;
  gap: 10px;
}

.box {
  width: 50%;
  height: 50%;
  padding: 15px;
  text-align: center;
  border: 1px solid #607d8b;
  border-radius: 1rem;
}

.transaction-container {
  width: 100%;
  display: flex;
  min-height: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.2rem auto;
  user-select: none;
  padding: 1rem;
}

.form-container input {
  width: 60%;
  padding: 0.5rem;
  margin: 0.25rem auto;
  border: none;
  border-bottom: 0.1rem solid;
}

.form-container input[type='text'],
input[type='number'] {
  font-size: 1rem;
  color: black;
}

input:focus {
  outline: none;
}

.form-container button {
  width: 30%;
  height: 2rem;
  font-size: 1rem;
  color: black;
  background-color: #4caf50;
  margin: 0.25rem auto;
  border: none;
  border-radius: 0.5rem;
}
.form-container button:hover {
  cursor: pointer;
}

.form-container button:focus {
  outline: none;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 5px auto;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  padding: 5px;
}

.transaction-amount {
  margin-left: 50%;
}
.transaction-title {
  margin-left: 2%;
}

.dlt-trn {
  margin-right: 1rem;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.dlt-trn:hover {
  cursor: pointer;
}

.dlt-trn:focus {
  outline: none;
}

.income {
  position: absolute;
  right: 47%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #4caf50;
}

.expense {
  position: absolute;
  right: 47%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #f44336;
}

.balance {
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-align: end;
}

.transaction-header {
  margin: 0 auto;
  padding: 0.5rem;
}

hr {
  border: 0.25rem solid grey;
  border-radius: 1rem;
  user-select: none;
}

.form-header {
  padding-top: 1rem;
}

.exp i {
  color: #f44336;
}

.inc i {
  color: #4caf50;
}

.savings {
  color: #4caf50;
}

.loss {
  color: #f44336;
}
